#lbPrevWord{
    -fx-padding: 5px 10px;
    -fx-background-radius: 15px 2px 15px 15px;
}
#lbComputerWord{
    -fx-padding: 5px 10px;
    -fx-background-radius: 2px 15px 15px 15px;
}
.right{
    -fx-padding: 5px 10px;
}
.left{
    -fx-padding: 5px 10px;
}
.label{
    -fx-font-size: 16px;
    -fx-pref-height: 16px;
    -fx-pref-width: 350px;
}
